VITE_API_URL=
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
VITE_BRAND_NAME=Project Face
VITE_BRAND_PARENT=GlowStarLabs
VITE_HUB_URL=https://rvvel.com
VITE_OFFICIAL_URL=https://audreyevansofficial.com
